.container_suggest_official_account {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  margin-bottom: 12px;

  .title_suggest_official_account {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }
  }

  .all_card_item {
    display: flex;
    padding: 0 0 28px 0;

    & > div:first-of-type {
      margin-left: 0px !important;
    }

    & > div {
      margin-left: 16px;
    }
  }

  .card_suggest_official_account {
    // min-width: 174px;
    margin: 0 0 0 12px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

    & .card_title_content {
      position: relative;

      & > p {
        position: absolute;

        font-weight: 500;
        font-size: 1rem;
        color: #ffffff;

        padding: 6px 12px 6px 12px;
        top: 0px;
      }

      & > img:last-of-type {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        border: 2px solid rgba(0, 122, 255, 1);

        top: 48px;
        left: 16px;
        position: absolute;
      }
    }

    .card_content_list {
      padding: 12px;

      width: 100%;

      & .item_card_content {
        text-align: left;

        padding: 12px 0 20px 0;

        & p {
          margin: 0 !important;
        }

        & > p:first-of-type {
          font-family: "Inter";
          font-weight: 600;
          line-height: 20px;
          font-size: 0.875rem;
          color: rgba(67, 75, 88, 1);
        }

        & > p:nth-of-type(2) {
          font-family: "Inter";
          font-weight: 600;
          line-height: 1rem;
          font-size: 0.75rem;
          color: rgba(136, 143, 151, 1);
        }

        width: 100%;
      }

      & .item_card_button {
        display: flex;
        flex-direction: column;

        width: 100%;

        & span {
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 1rem;
          font-family: "Inter";
        }
      }

      & span {
        display: inline-block;
      }

      .first_position {
        color: #fabf24;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      .second_position {
        color: #434b58;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      .third_position {
        color: #aa6042;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      & img {
        width: 32px;
        height: 32px;
        border-radius: 2px;
      }

      & .content_text {
        & > span:first-child {
          font-weight: 500;
          font-size: 0.75rem;
          color: #434b58;
        }

        & > span:last-child {
          font-weight: 400;
          font-size: 0.5rem;
          color: #888f97;
        }
      }
    }
  }
}
