.container_deliver_n_booking {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_deliver_n_booking {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }

    & .suggest_text {
      border: 2px solid rgba(255, 86, 92, 0.5);
      border-radius: 5px;

      position: absolute;
      left: 152px;
      top: 0px;

      & > div {
        background: #ff565c;
        font-weight: 400;
        font-size: 0.625rem;
        color: #ffffff;
        padding: 2px 4px;
        border-radius: 3px;
      }
    }
  }

  .box_deliver_n_booking {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .all_game_container_list {
    display: flex;

    & > div:first-of-type {
      margin-left: 0px !important;
    }

    & > div {
      margin-left: 18px;
    }
  }

  .card_deliver_n_booking {
    position: relative;
  }

  .content_item_list {
    display: flex;
    flex-direction: column;
    align-items: start;

    & p {
      margin: 0 !important;
      text-align: left;
    }

    & > p:first-of-type {
      font-weight: 600;
      font-size: 0.875rem;
      color: #434b58;
      line-height: 18px;
    }

    & > p:nth-of-type(2) {
      font-weight: 400;
      font-size: 0.75rem;
      color: #888f97;
      line-height: 16px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    & > p:nth-of-type(3) {
      font-weight: 400;
      font-size: 0.625rem;
      color: #888f97;
      line-height: 14px;
    }
  }
}
