.container_catalogue {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_catalogue {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }

    // & .suggest_text {
    //   border: 2px solid rgba(255, 86, 92, 0.5);
    //   border-radius: 5px;

    //   position: absolute;
    //   left: 164px;
    //   top: 0px;

    //   & > div {
    //     background: #ff565c;
    //     font-weight: 400;
    //     font-size: 0.625rem;
    //     color: #ffffff;
    //     padding: 2px 4px;
    //     border-radius: 3px;
    //   }
    // }
  }

  .box_catalogue {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .catalogue_list_content {
    display: flex;

    & > div:first-of-type {
      margin-left: 0px !important;
    }

    & > div {
      margin-left: 12px;
    }
  }

  .card_catalogue {
    position: relative;
  }

  .content_item_catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;

    margin-bottom: 8px;

    & > div {
      & p {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 18px;
        color: rgba(255, 255, 255, 1);
      }

      width: 60%;
    }

    width: 148px;
    height: 52px;

    & > img {
      width: 36px;
      height: 36px;
    }
  }

  //============================================================
  .card_catalogue_1_a {
    background: linear-gradient(
      rgba(158, 255, 162, 1),
      rgba(52, 170, 57, 1)
    ) !important;
  }
  .card_catalogue_1_b {
    background: linear-gradient(
      rgba(158, 232, 255, 1),
      rgba(52, 128, 170, 1)
    ) !important;
  }

  .card_catalogue_2_a {
    background: linear-gradient(
      rgba(255, 211, 158, 1),
      rgba(243, 142, 69, 1)
    ) !important;
  }
  .card_catalogue_2_b {
    background: linear-gradient(
      rgba(255, 158, 158, 1),
      rgba(229, 112, 76, 1)
    ) !important;
  }

  .card_catalogue_3_a {
    background: linear-gradient(
      rgba(255, 158, 205, 1),
      rgba(168, 52, 170, 1)
    ) !important;
  }
  .card_catalogue_3_b {
    background: linear-gradient(
      rgba(236, 158, 255, 1),
      rgba(104, 52, 170, 1)
    ) !important;
  }

  .card_catalogue_4_a {
    background: linear-gradient(
      rgba(158, 232, 255, 1),
      rgba(52, 128, 170, 1)
    ) !important;
  }
  .card_catalogue_4_b {
    background: linear-gradient(
      rgba(255, 219, 124, 1),
      rgba(201, 130, 65, 1)
    ) !important;
  }

  .card_catalogue_5_a {
    background: linear-gradient(
      rgba(158, 255, 220, 1),
      rgba(52, 170, 170, 1)
    ) !important;
  }
}
