.container_score_board {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_score_board {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }
  }

  .all_card_item {
    display: flex;
    padding: 0 0 28px 0;

    & > div:first-of-type {
      margin-left: 0px;
    }
  }

  .card_score_board {
    // min-width: 174px;
    margin: 0 0 0 12px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

    & .card_title_content {
      position: relative;

      & > p {
        position: absolute;

        font-weight: 500;
        font-size: 1rem;
        color: #ffffff;

        padding: 6px 12px 6px 12px;
        top: 0px;
      }
    }

    .card_content_list {
      padding: 12px;

      & span {
        display: inline-block;
      }

      .first_position {
        color: #fabf24;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      .second_position {
        color: #434b58;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      .third_position {
        color: #aa6042;
        font-weight: 700;
        font-size: 0.6875rem;
      }

      & img {
        width: 32px;
        height: 32px;
        border-radius: 2px;
      }

      & .content_text {
        & > span:first-child {
          font-weight: 500;
          font-size: 0.75rem;
          color: #434b58;
        }

        & > span:last-child {
          font-weight: 400;
          font-size: 0.5rem;
          color: #888f97;
        }
      }
    }
  }
}
