.container_promotion_n_neoservice {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_promotion_n_neoservice {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }

    & .suggest_text {
      border: 2px solid rgba(255, 86, 92, 0.5);
      border-radius: 5px;

      position: absolute;
      left: 204px;
      top: 0px;

      & > div {
        background: #ff565c;
        font-weight: 400;
        font-size: 0.625rem;
        color: #ffffff;
        padding: 2px 4px;
        border-radius: 3px;
      }
    }
  }

  .box_promotion_n_neoservice {
    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .card_promotion_n_neoservice {
    position: relative;

    & > p {
      border-radius: 4px;
      background: #ff9900;
      font-size: 0.5rem;
      font-weight: 700;
      position: absolute;
      color: #ffffff !important;
      padding: 0 4px;

      top: -16px;
      right: -16px;
    }
  }
}
