.card_first_slick {
  height: 180px;
}

.slider_container {
  height: 180px !important;

  :global .slick-slider {
    & > .slick-list {
      & > .slick-track {
        & > .slick-slide {
          padding: 0 12px !important;
        }
      }
    }

    & > .slick-dots {
      bottom: 8px !important;

      & li {
        margin: 0 !important;
        width: 16px !important;
      }

      & li.slick-active button:before {
        color: rgba(255, 255, 255, 1) !important;
      }

      & li button:before {
        color: rgba(255, 255, 255, 0.4) !important;
      }
    }
  }
}
