.container_recently_used {
  padding: 12px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_recently_used {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_recently_used {
    display: flex;
    align-items: start;
    justify-content: space-between;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .card_recently_used {
    position: relative;
  }
}
